body {
  margin: 10px;
}

.App {
  text-align: center;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 25px;
  align-items: stretch;
}

.flexbox div {
  width: 45vw;
}

.left {
}
